.row
  .col-xs-8.col-xs-offset-2
    .content-block
      .content-block__head
        %p
          %i Select services to better consume your shared email content with.

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-book
        Read
      .content-block__app
        .app.app--active
          .app__icon
            = image_tag 'icon-pocket.png'
          .app__name Pocket

        .app
          .app__icon
            = image_tag 'icon-readability.png'
          .app__name Readability


  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-music
        Listen
      .content-block__app
        .coming-soon
          (MUSIC COMING SOON)

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-eye-open
        Watch
      .content-block__app
        .coming-soon
          (VIDEO COMING SOON)

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-list
        Do
      .content-block__app
        .coming-soon
          (TASKS COMING SOON)

.row
  .col-xs-4.col-xs-offset-2
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-share-alt
        Share
      .content-block__app
        .coming-soon
          (SOCIAL COMING SOON)

  .col-xs-4
    .content-block
      .content-block__header
        %i.glyphicon.glyphicon-calendar
        Meet
      .content-block__app
        .coming-soon
          (MEETINGS COMING SOON)