.row
  .col-xs-4
    .content-block
      .content-block__header Read
      .content-block__app
      %ul.content-block__sources
        - 5.times do
          %li.content-block__source
            %input(type='checkbox')
            %label john@example.com

  .col-xs-4
    .content-block
      .content-block__header Listen
      .content-block__app
      %ul.content-block__sources
        - 5.times do
          %li.content-block__source
            %input(type='checkbox')
            %label john@example.com

  .col-xs-4
    .content-block
      .content-block__header Watch
      .content-block__app
      %ul.content-block__sources
        - 5.times do
          %li.content-block__source
            %input(type='checkbox')
            %label john@example.com


.row
  .col-xs-4
    .content-block
      .content-block__header Do
      .content-block__app
      %ul.content-block__sources
        - 5.times do
          %li.content-block__source
            %input(type='checkbox')
            %label john@example.com

  .col-xs-4
    .content-block
      .content-block__header Share
      .content-block__app
      %ul.content-block__sources
        - 5.times do
          %li.content-block__source
            %input(type='checkbox')
            %label john@example.com

  .col-xs-4
    .content-block
      .content-block__header Meet
      .content-block__app
      %ul.content-block__sources
        - 5.times do
          %li.content-block__source
            %input(type='checkbox')
            %label john@example.com