.row
  .col-xs-8.col-xs-offset-2
    .content-block
      .content-block__head
        %h3 Your Contacts
        %p Trusted contacts can push content to your personal feeds.


      .content-block__stuff
        - if @contacts.any?
          %ul.contacts
            - @contacts.each do |contact|
              %li.contact
                = contact.email
                = link_to '(Remove)', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          In order to supercharge your inbox you'll need to add a contact.

        .contact-form
          = render 'form'