.content-block
  border: 1px solid #ccc
  padding: 10px
  margin: 10px 0

.content-block__header
  text-transform: uppercase
  text-align: center

.content-block__app
  height: 100px
  background: green
  margin: 10px 0

.content-block__sources
  list-style-type: none
  margin: 0
  padding: 0

.content-block__source